<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CloudN</title>
        <script src="lib/math.min.js"></script>
        <script src="lib/plotly-1.35.2.min.js"></script>
        <script src="index.js"></script>

        <style>
            input[type=text] {
                width: 300px;
            }

            input {
                padding: 6px;
            }

            body,
            html,
            input {
                font-family: sans-serif;
                font-size: 11pt;

            }

            form {
                margin: 20px 0;
            }
        </style>
    </head>

    <body>

        <form id="form">
            <label for="temperature">Temperature:</label>
            <input type="text" id="temperature" value="26"/>
            <label for="humidity">Humidity:</label>
            <input type="text" id="humidity" value="55"/>
            <label for="altitude">Altitude:</label>
            <input type="text" id="altitude" value="0"/>
            <input type="submit" value="OK" onclick="startDrawing()"/>
        </form>

        <div id="plot"></div>

        <script>
            document.getElementById('form').onsubmit = function (event) {
                event.preventDefault()
                startDrawing();
            }

            function startDrawing() {
                const temperature = Number(document.getElementById('temperature').value)
                const humidity = Number(document.getElementById('humidity').value)
                const altitude = Number(document.getElementById('altitude').value)
                draw(temperature, humidity, altitude);
            }
            window.onload = startDrawing;
        </script>

    </body>

</html>